*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 350px;
}
header .d1{
	width: 100%;
	height: 20%;
	background-color: #333333;
}
header .d1 h2{
	color: white;
	line-height: 200%;
	display: inline-block;
}
header .d1 p{
	display: inline-block;
	float: right;
	line-height: 200%;
	margin-right: 10%;
}
header .d1 p a:link{
	color: white;
}
header .d2{
	display: flex;
	width: 100%;
	height: 60%;
	background-color: #66BB33;
	justify-content: flex-end;
	align-items: flex-end;	
}
header .d2 div{
	width: 25%;
	height: 20%;
}
header .d2 span{
	border: 1px solid black;
	padding: 2%;
	background-color: #B2DD99;
	margin-right: 2%;
}
header .d2 span:nth-of-type(2){
	padding-top: 8%;
	background-color: #E0F1D6;

}
header .d3{
	height: 20%;
	border-bottom: 1px solid #DDDDDD;
}
header .d3 button:nth-of-type(1){
	border: 1px solid #DDDDDD;
	background-color: white;
	border-bottom-color: white;

}
header .d3 button{
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	width: 10%;
	height: 70%;
	margin-top: 1.6%;
	margin-right: -0.5%;
}
header .d3 button:nth-of-type(1){
	margin-left: 15.5%;
}
.div1,.div2,.div3{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
section{
	display: flex;
	width: 70%;
}
article{
	height: 150px;
	flex: 1;
	margin: 5px;
	border: 1px solid #CCCCCC;
}
div p{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 960%;
}

.div1 section article:nth-of-type(3){
	flex: 0.75;
}
footer{
	height: 100px;
	width: 100%;
	background-color: #666666;
}
footer p{
	text-align: center;
	color: white;
	line-height: 400%;
}