div{
  background-color:#00FFFF;
  width:400px;
  height:400px;
  border-style:groove;
  border-color:pink;
  border-width:5px;
  border-radius:30px;
  font-family:STSong;
  font-weight:700;
}
h1{
  text-align:center;
  color:red;
  font-size:32px;
  text-shadow:4px 4px 5px red;
}
ul{
  color:orange;
  line-height:1.5;
  text-indent:2em;
  list-style-type: square;
}
a{
  text-decoration:none;
}
a:link {
  color: #265301;
}
a:hover {   
  background: #CDFEAA;
  text-decoration:underline;
}