.div{
	width: 500px;
	height: 480px;
	background-image: url(../images/1.jpg);
	max-height: 500px;
	max-width: 480px;
	border: 1px solid black;
	margin: auto;
	background-position: 0 0;
	background-repeat: repeat-y;
}
.button{
	margin: 100px;
	height: 50px;
	width: 100px;
	max-width: 100px;
	max-height: 50px;
}